.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}



.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border: 5px solid black;
  margin-top: 30px;
  margin-left: auto; 
  margin-right: auto; 
  background-color: #00fff2;
}

.img:hover {
  border-radius:50%;
  -webkit-border-radius:60%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #f30a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.img {
  width: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border: 5px solid black;
  margin-top: 30px;
  margin-left: auto; 
  margin-right: auto; 

}

p {
  margin-left: 20%;
  margin-right: 20%;
}

.dataedit {
    width: 200%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color:rgba(0, 13, 128, 0.445);
    border:solid 5px rgb(167, 72, 245);
    color: rgb(255, 3, 66);
    font-weight: bold;
    border-radius: 10%;
  }

  .btn-primary{
    border: 5px solid black;
    font-size: large;
    font-weight: bold;
    background-color: yellow;
  }

  .dataedit button {
    margin-top: 8%;
    margin-bottom: 8%;
    font-weight: bold;
    background-color: chartreuse;
  }

.btn-edit {
  border: 5px solid black;
  font-size: large;
  font-weight: bold;
  background-color: #fa6b05;
}
.btn-delete {
  border: 5px solid black;
  font-size: large;
  font-weight: bold;
  background-color: #dd06b9;
}

